body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ql-toolbar {
  border: none !important;
}
.ql-container {
  border: none !important;
}
.customEditor .ql-editor {
  font-size: 1.2rem !important;
  padding: 0 !important;
}
.ql-bubble .ql-editor.ql-blank::before {
  color: inherit;
}
.customEditor .ql-container {
  /* height: 75% !important; */
  min-height: 100vh;
}

.quill-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
